
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	flex-direction:row;
}
.item{
	width:100px;
	height:100px;
	font-size:20px;
}
.red{
	background-color:red;
}
.blue{
	background-color:blue;
}
.green{
	background-color:green;
}